#root{
  text-align: center;
}

.btn1{
  border: 1px solid white;
  padding: 10px;
  background-color: red;
  border-radius: 10px;
}

.btn2{
  padding: 10px;
  background-color: blue;
  border-radius: 10px;
  border: 1px solid white;
}

.btn3{
  padding: 10px;
  background-color: green;
  border-radius: 10px;
  border: 1px solid white;
}

.color-box{
  height: 150px;
  width: 150px;
  border: 1px solid rgb(49, 46, 46);
  margin-left: 278px;
  margin-top: 10px;
}